+font(HelveticaNeueCyrUltraLight, HelveticaNeueCyrUltraLight)
+font(helveticaneuecyr-thin-webfont, helveticaneuecyr-thin-webfont)
+font(helveticaneuecyr-light-webfont, helveticaneuecyr-light-webfont)
+font(helveticaneuecyr-roman-webfont, helveticaneuecyr-roman-webfont)
+font(helveticaneuecyr-medium-webfont, helveticaneuecyr-medium-webfont)
+font(helveticaneuecyr-bold-webfont, helveticaneuecyr-bold-webfont)
+font(helveticaneuecyr-heavy-webfont, helveticaneuecyr-heavy-webfont)
+font(helveticaneuecyr-black-webfont, helveticaneuecyr-black-webfont)

+font(opensanslight-webfont, opensanslight-webfont)
+font(opensansbold-webfont, opensansbold-webfont)
+font(opensansextrabold-webfont, opensansextrabold-webfont)


=h2
	font-family: 'HelveticaNeueCyrUltraLight', Arial, sans-serif
	font-weight: 100
=h3
	font-family: 'helveticaneuecyr-thin-webfont', Arial, sans-serif
	font-weight: 300
=h4
	font-family: 'helveticaneuecyr-light-webfont', Arial, sans-serif
	font-weight: 400
=h5
	font-family: 'helveticaneuecyr-roman-webfont', Arial, sans-serif
	font-weight: 500
=h6
	font-family: 'helveticaneuecyr-medium-webfont', Arial, sans-serif
	font-weight: 600
=h7
	font-family: 'helveticaneuecyr-bold-webfont', Arial, sans-serif
	font-weight: 700
=h8
	font-family: 'helveticaneuecyr-heavy-webfont', Arial, sans-serif
	font-weight: 800
=h9
	font-family: 'helveticaneuecyr-black-webfont', Arial, sans-serif
	font-weight: 900

=osl
	font-family: 'opensanslight-webfont', Arial, sans-serif
	font-weight: 300
=osb
	font-family: 'opensansbold-webfont', Arial, sans-serif
	font-weight: 700
=ose
	font-family: 'opensansextrabold-webfont', Arial, sans-serif
	font-weight: 800


// ###############################
// -------------------------------
// ###############################



a
	text-decoration: none
	&:hover
		color: #6CC9FF
	&:active
		color: #67A9CF
nav
	display: inline-block
	vertical-align: top


$n: transparent
$black: #181818
$green: #4bcd82
$blue: #6cc9ff
$f: #bc7ad6

.clear
	clear: both
	height: 0

.out
	margin: 0 auto
	position: relative
	// +r(1270)
		// width: 768px
	// +r(768)


	// 	width: 768px
	// 	overflow: hidden
	// +r(767)
	// 	width: 640px
	// +r(639)
	// 	width: 320px

.container
	position: relative
	width: 1200px
	margin: 0 auto
	+clr
	+r(1270)
		width: 684px
	+r(800)
		width: 90%
	+r(767)
		// width: 575px
		width: 90%
	// +r(639)
	// 	width: 288px

body
	font-family: Arial, sans-serif
	font-size: 16px
	line-height: 1.75
	color: $black
	// min-width: 1250px
	// +r(1270)
	// 	min-width: 768px
	// +r(767)
	// 	min-width: 640px
	+r(639)
		min-width: 300px


// #### HEADER ###



.header
	+clr
	+r(1270)
		height: 75px
	nav
		+r(1270)
			position: absolute
			top: 30px
			right: 0
			width: 100%

.logo
	display: inline-block
	width: 110px
	height: 50px
	margin-top: 15px
.menu
	display: none
	+r(1270)
		display: block
		float: right
		width: 26px
		background-color: $n
		height: 17px
		background-image: url("../img/icons/menu.png")
		+r(767)
			&.is_active
				background-image: url("../img/icons/menu2.png")
.header__menu
	margin-left: 195px
	font-size: 0
	display: inline-block
	vertical-align: top
	margin-top: 5px
	+r(1270)
		// display: none
		position: absolute
		// top: 50px
		top: -1000px
		left: -21px
		right: 0
		margin: 0
		z-index: 200
		+tr(.5s)
		transition-timing-function: linear
		&.is_active
			top: 50px
	li
		display: inline-block
		margin-right: 35px
		+tr(.3s)
		+r(1270)
			display: block
			width: 100%
			height: 58px//115px//
			padding: 0 35px
			margin: 0
			background-color: #00cbff
			border-bottom: 2px solid #52dcff
		+r(767)
			padding: 0 15px
		&:last-child
			margin-right: 0
		&:hover
			a
				color: #6CC9FF
			+r(1270)
				width: 100%
				color: #FFF
				padding: 0 50px
				background-color: #00c2f4
				transform: translate(-25px, 0)
				a
					color: #fff
			+r(767)
				padding: 0 30px
				transform: translate(-15px, 0)
			+r(639)
				transform: translate(0, 0)
				padding: 0 15px
		&:active
			a
				color: #67A9CF
		&.is_active
			a
				color: #BC7AD6
		a
			font-size: 14px
			color: #181818
			text-transform: uppercase
			line-height: 80px
			+tr(.2s)
			+osb
			+r(1270)
				display: block
				line-height: 58px//115px//
				color: #fff
.header__tel
	display: none
	+r(767) //retina
		position: absolute
		top: -5px
		right: 40px
		display: inline-block
		width: 80px
		height: 80px
		background-color: $n
		-webkit-border-radius: 100%
		border-radius: 100%
		&:active
			background-color: #4bcd82
			i
				background-image: url("../img/icons/tel1a.png")
		i
			display: block
			+vcenter
			width: 38px
			height: 38px
			background-image: url("../img/icons/tel1.png")
.header__contact
	position: relative
	float: right
	line-height: 80px
	letter-spacing: 1px
	color: $black
	+osl
	+tr(.2s)
	&:before
		content: ""
		position: absolute
		display: block
		top: 31px
		left: -30px
		width: 17px
		height: 17px
		background-image: url("../img/icons/icon_tel.png")
		+r(767)
			content: none
	+r(1270)
		+vcenter
	+r(767)
		display: none





// ---------
// ####### FOOTER ####
// ---------





.footer
	padding: 85px 0 60px
	border-top: 1px solid #EDEEEF
	+box
	+clr
	+r(1270)
		padding: 55px 0 70px
	.box_300
		float: left
	.title__small
		vertical-align: top
		margin: 0 75px 20px 0
		font-size: 12px
		+h6
	.menu__footer
		@extend .menu
		+r(1270)
			display: none
		+r(767)
			display: block
			position: absolute
			top: 0
			right: 0
.box_300
	display: inline-block
	width: 300px
	vertical-align: top
	+clr
.copy
	font-size: 14px
	line-height: 1
	margin-bottom: 25px
	color: #1e1e1e
	// +hl
.footer__tel
	display: block
	font-size: 14px
	font-weight: bold
	color: #1e1e1e
	line-height: 26px
.title__small
	font-size: 12px
	text-transform: uppercase
	letter-spacing: 1px
	+h6
	a
		color: #1e1e1e
.footer__list
	font-size: 0
	+r(1270)
		display: none
	li
	a
		font-size: 14px
		color: #1e1e1e
		+h4
.footer__item
	float: left
	margin: 0 75px 20px 0
	vertical-align: top
.soc
	position: relative
	display: inline-block
	margin-top: 25px
	color: #1e1e1e
	+h4
.vk
	padding-left: 15px
	margin-left: 30px
	&:before
		content: ""
		position: absolute
		left: -30px
		width: 30px
		height: 30px
		background-image: url("../img/icons/vk.png")
	&:hover
		opacity: 0.7
.footer
	.hiden_640
		+clr
		+r(767)
			display: none
			&.is_active
				display: block
				position: absolute
				bottom: 0
				width: 100%
			// 	padding: 0 35px
			// 	margin: 0
			// 	background-color: #00cbff
			// 	border-bottom: 2px solid #52dcff
			// .box_300
			// 	display: block
			// 	margin: auto
			// 	width: 100%!important
			// 	.title__small
			// 		margin: 0
			// 		line-height: 40px
			// .footer__item
			// 	display: block
			// 	float: none
			// 	margin: 0
			// 	height: 40px
			// 	line-height: 40px